html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px ;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;


	
}

h1, h2, h3 {
	margin: 10px;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #2D2D2D;
}


h2 {
	padding: 0px 0px 30px 0px;
	font-size: 2.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}


a {
	color: rgba(0,0,0,.8);
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}


hr {
	display: none;
}

.text1
{
text-align: center;
}

#wrapper {
	background: #FFF;								 /*колір фону*/
	margin: 0px 20px;
}

.container, .text {
	width: 90%;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}



#header-wrapper
{
	background: url(bg.jpg) no-repeat center center;
	background-size: cover;

	
}

#header {  /*розмер картинки с верху */
	overflow: hidden;
	margin: auto;
	height: auto;
}

/*Мобильное меню*/
#wrapper .mobile_menu{
	display: none;	
	border-radius: 4px;
	padding: 0 20px 0 15px;
	width: auto;
	height: auto;
	cursor: pointer;
	position: absolute;
	font-size: 50px;
	top: 0;
}

#social
{  /*сылка на  блог */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#social a 
{
	color: #4c60c1;
}
/* Логотип  */
#logo {
	margin: 40px;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	font-weight: 400;
	letter-spacing: -1px;         /*название сайта */
	text-transform: lowercase;
	font-size: 44px;
	color: #0b56aa;
	text-align: center;

}

#logo a {
	border: none;
	background: none;				 /*название сайта (цвет сылки)*/
	text-decoration: none;
	color: #0b56aa;
}

/* меню */

#menu {
	/*overflow: hidden;    /* фон меню */
	background: #3c6ca1;   
}

#menu > ul {
	padding: 0;
	list-style: none;
	line-height: normal;
	display: flex;
	justify-content: space-around;
}


#menu a {
	line-height: 70px;
	text-decoration: none;				 /* ЦВЕТ СЫЛОК  меню */
	text-transform: uppercase;   
	text-align: center;
	font-size: 25px;
	font-weight: 200;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}
#menu .menu_item ul{
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	opacity: 0;
	position: absolute;
	background: #3c6ca1;
	z-index: -9999;
}

#menu .menu_item:hover ul{
	opacity: 1;
	z-index: 9999;

}

#menu .menu_item ul > li{
	list-style: none;
	border-top: 1px solid rgba(255, 255, 255, .2);
}

#menu .last {
	border-right: none;
}



#page {
	overflow: hidden;
	padding: 5em 0em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}

#page .page-col{
	flex-wrap: wrap;
	height: 100%;
	width: 22%;
	font-size: 12px;
}

#page .page-col img{
	width: 100%;
}

	#page .title h2
	{
		width: 100%;
		font-size: 1.3em; 		/*параметры шрифта професйи*/
		font-weight: 400;     
		color: #3c6ca1;
	}
	

	ul.contact li
	{
		color: red;
		display: inline-block;		/*убирает значок списка*/
		font-size: 1em;
		
	}
	
	#map 
	{
		width: 100%;
	}

/* Footer */

#footer {
	overflow: hidden;  				/*запрошуємо на навчання отступ снизу*/
	padding: 50px 0px 30px 0px;
}

#footer p {
	text-align: center;				/*запрошуємо на навчання параметры текста*/
		color: rgba(0,0,0,0.7);
}

#footer a {
		color: rgba(0,0,0,0.7);		/*запрошуемо на навчання параметры сылки*/
}

